---
import Icon from "./ui/Icon/Icon.astro";
---

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <Icon
            icon="terminal-window"
            color="var(--accent-regular)"
            size="2.5rem"
            gradient
        />
        <h2>Full Stack</h2>
        <p>
            As a passionate student specializing in both frontend and backend
            technologies, I create dynamic user interfaces and robust
            server-side logic. I’m committed to building web solutions that
            align with your needs while continuously learning and improving my
            skills.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon
            icon="layout"
            color="var(--accent-regular)"
            size="2.5rem"
            gradient
        />
        <h2>Reliable Backend Solutions</h2>
        <p>
            Scalable and efficient backend systems that ensure seamless
            functionality for your web applications. I focus on creating robust
            architectures that support modern, responsive designs effortlessly.
        </p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <Icon
            icon="performance"
            color="var(--accent-regular)"
            size="2.5rem"
            gradient
        />
        <h2>Performance</h2>
        <p>
            Performance-driven development for blazing-fast websites. I ensure
            your application loads quickly and delivers a seamless user
            experience.
        </p>
    </div>
</section>

<style>
    .box {
        border: 1px solid var(--gray-800);
        border-radius: 0.75rem;
        padding: 2rem;
        background-color: var(--gray-999_40);
        box-shadow: var(--shadow-sm);
    }

    .skills {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

    .skills h2 {
        font-size: var(--text-lg);
    }

    .skills p {
        color: var(--gray-300);
        max-width: 35rem;
    }

    @media (min-width: 60em) {
        .box {
            border-radius: 1.5rem;
            padding: 2.5rem;
        }

        .skills {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }

        .skills h2 {
            font-size: var(--text-2xl);
        }
    }
</style>
