

.preload{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: var(--text-base);
    letter-spacing: 6px;
    color: var(--gray-0: #090b11);
    h1{
        font-family: "Quicksand", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size: var(--text-3xl);
        letter-spacing: 20px;
        color: var(--gray-0: #090b11);
    }
    .status{
        color: var(--gray-0: #090b11);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 50%;

        .circle{
            display: inline-block;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background: green;
        }
    }
}

#preloading-page {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

#preloading-page.loaded {
    opacity: 0;
}

.hidden {
    display: none;
}
